@import "tailwindcss";

@font-face {
    font-family: Inter;
    src: url("/fonts/Inter.ttf");
}

@font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    font-weight: 500;
    src: url("/fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: Poppins;
    font-weight: 600;
    src: url("/fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url("/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: PublicSans;
    src: url("/fonts/PublicSans.ttf");
}

@font-face {
    font-family: DMSans;
    src: url("/fonts/DMSans.ttf");
}

body {
    background-color: #f9f9f9;
}
