@import "tailwindcss";

@font-face {
    font-family: Inter;
    src: url("/Inter.ttf");
}

@font-face {
    font-family: Poppins;
    font-weight: 500;
    src: url("/Poppins-Medium.ttf");
}

@font-face {
    font-family: Poppins;
    font-weight: 600;
    src: url("/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: PublicSans;
    src: url("/PublicSans.ttf");
}

body {
    background-color: #f9f9f9;
}
